# Root Environment Variables
PORT=8000
MONGO_URI=mongodb://localhost:27017/resumeai
JWT_SECRET=supersecret_resumeai_token_2026
UPLOAD_DIR=./uploads
NLP_SERVICE_URL=http://localhost:8001
ALLOWED_ORIGINS=http://localhost:5173
VITE_API_BASE=http://localhost:8000/api
